* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}


.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background-image: url("kw1.jpg");
    background-size: 110%;
    color: #FDF9F9 ;

}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav a:hover {
    background-color: #ddd;
    color: black;
}


.leftcolumn {   
    float: left;
    width: 75%;
}


.rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}


.img1 {
    background-color: #aaa;
    width: 100%;

}
.img2{
    width: 100%;
}
.img3{
    width: 50%;
    border-radius: 30%;
}
.img4{
    background-color: #fff;
}
.card {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.contact {
    padding: 20px;
    text-align:center;
    margin-top: 20px;
}

.footer{
    padding: 10px;
    background: #333;
    width: 100%;
}

.footer p{
    color: white;
    margin-left: 20px;
}

.card-contact{
    background-color: white;
    padding: 10x;
    margin-top: 20px;

}